<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- Basic page needs
    ================================================== -->
    <title>Login</title>

    <% include layouts/head.ejs %>  

</head>

<body id="top">

    <!-- Header
    ================================================== -->
    <div class="s-pageheader">

    <% include layouts/header %> 

    </div>
    <!-- /Header -->

    <section class="s-content s-content--narrow">

        <div class="row">

            <%if(message.length>0){%>
            <div class="alert-box alert-box--error hideit">
                <p><%= message %></p>
                <i class="fa fa-times alert-box__close"></i>
            </div> <!-- end success -->
            <%}%>

            <div class="s-content__header col-full">
                <h1 class="s-content__header-title">
                    Login.
                </h1>
            </div> <!-- end s-content__header -->

            <div class="col-full s-content__main">

                

                <form name="cForm" id="cForm" method="post" action="/user/login">
                    <fieldset>
                        <div class="form-field">
                            <input name="username" type="text" id="cName" class="full-width" placeholder="Your Name" value="">
                        </div>
                        <div class="form-field">
                            <input name="password" type="text" id="cName" class="full-width" placeholder="Password" value="">
                        </div>

                        <button type="submit" class="submit btn btn--primary full-width">Submit</button>

                    </fieldset>
                </form> <!-- end form -->


            </div> <!-- end s-content__main -->

        </div> <!-- end row -->

    </section> <!-- s-content -->

    <!-- s-footer
    ================================================== -->
    <% include layouts/footer %>

    <!-- Java Script
    ================================================== -->
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/plugins.js"></script>
    <script src="/js/main.js"></script>

</body>

</html>